{% extends 'base.html' %}

{% block title %}
    Tasks
{% endblock%}

{% block content %}
    <div class="col-8 mt-5">

            <form action="", method="post" data-url="{% url 'task_list_url'%}" class="justify-content-center" id="createTaskForm">
                {% csrf_token %}
                {% for field in form %}
                    {{field}}
                {% endfor %}
                <button type="button" class="btn btn-outline-success mt-3" id="createButton"> CREATE</button>
            </form>

    </div>

    <div class="col-5 mt-5" id="taskList">
        
             {% for task in tasks%} 
             <div class="card mb-3">
                <div class="card-body  position-relative">
                    {{task.title}}
                    <button type="button" class="btn-close " ></button>
                </div>
            </div>
             {% endfor%}
           
    </div>
{% endblock%}